alembic==1.12.1
asttokens==2.4.1
attrs==23.1.0
blinker==1.6.2
certifi==2023.11.17
cffi==1.16.0
click==8.1.3
colorama==0.4.6
decorator==5.1.1
exceptiongroup==1.1.3
executing==2.0.1
Flask==2.3.2
greenlet==3.0.1
h11==0.14.0
idna==3.4
ipython
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
Mako==1.3.0
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
numpy
outcome==1.3.0.post0
pandas
parso==0.8.3
prompt-toolkit==3.0.39
pure-eval==0.2.2
pycparser==2.21
Pygments==2.16.1
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
selenium==4.15.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.23
stack-data==0.6.3
traitlets==5.13.0
trio==0.23.1
trio-websocket==0.11.1
turtle==0.0.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
wcwidth==0.2.9
Werkzeug==2.3.6
wsproto==1.2.0
